<!--
    Programmer: Chris Heise
    Course: CIS 2285-R01
    Program: P5 Inventory Accounting Application
    File: Index.razor
-->

@page "/"

<h1>Investment Calculator 3,000</h1>
<br />
<p>
    Welcome to the Investment Calculator 3,000! Enter your starting principle, interest rate (between 0 and 100), number of years (between 1 and 30), and the number of times interest compounds each year (between 1 and 24).
    <br /><br />
    Then click submit and review your results. It's that easy!
    <br /><br />
    Click the calculator link in the navigation bar on the left when you're ready to get started.
</p>
